@media (max-width: 800px) {
  .logo {
    font-size: 100px;
  }

  .container-1 {
    flex-basis: 65%;
    flex-direction: column;
  }

  .inputs {
    width: 90%;
  }

  .right-container {
    padding: 20px;
    gap: 20px;
  }

  .container-2 {
    flex-direction: column;
    padding: 20px;
  }

  .logo {
    font-size: 120px;
  }
}

@media (max-width: 700px) {
  body {
    overflow: auto;
  }

  .container {
    box-shadow: none;
    border: none;
    height: 100vh;
    width: 100vw;
    margin: 10px;
  }

  .labels {
    font-size: 20px;
  }

  .container-2 h2 {
    text-align: center;
  }

  .container-2 p {
    text-align: center;
  }
}

@media(max-width:380px) {
    .btn {
        padding: 5px;
    }
}
